:root{
    --theme-color : #ED1E6E;
    --font-color : rgba(0, 0, 0, 0.7);
}
*{
    transition: 300ms;
}

#form{
    position: relative;
    background-color: var(--theme-color);
    padding: 2em;
    color: #fff;
    
}

.formcontrol input , .formcontrol textarea{
    padding: 0.5em;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
}
input:focus , textarea:focus{
    outline: none;
}
.formcontrol label{
    z-index: 0;
}
.formcontrol input , .formcontrol textarea{
    z-index: 1;
    padding: 1em;
    padding-top: 1.5em;
    padding-bottom:0.5em;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
}
.formcontrol input[type="submit"]{
    padding: 1em !important;
}
label{
    padding: 0.5em;
}
.formcontrol input[type="submit"]{
    color: #fff;
    background-color: #000;
    border: 0;
    margin-top: 1rem;
}

.formcontrol input ~ label,
.formcontrol textarea ~label {
    position: absolute;
    left: 0;
    padding-left: 2.5em;
}
.formcontrol input:focus ~ label,
.formcontrol input:valid ~label,
.formcontrol textarea:focus ~label,
.formcontrol textarea:valid ~label
{
    padding-bottom: 1.5em;
    pointer-events: none;
    font-size: 0.6em;
}
.alert{
    height: 3em;
    visibility: hidden;
}
